<h2>Todo Detail</h2>
<table >
    <tr>
        <td><b>Serial Number</b></td>
        <td><b>Task</b></td>
    </tr>
    <tr *ngFor="let item of T_list">
        <td>{{item.no}}</td>
        <td>{{item.tname}}</td>
    </tr>
</table>
    <ul>
        <li *ngFor="let item of T_list">{{item.Task}}</li>
    </ul>
    .center2{
        text-align: center;
        border: 10px solid rgba(255, 62, 78, 0.2);
        width: 60%;
        background: rgba(226, 164, 167, 0.336);
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
    }
    
    td{
        /* font-size: 10px !important; */
        font-size: 20px;
        color: #0e0d0dce;
    }